.hero-container {
  position: relative;
  text-align: center;
  color: white;
  background: url('/hero1.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.hero-left,
.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-right{
  margin-left: 5rem;
}
.product-img {
  width: 400px;
}

.phrase-img {
  width: 60%;
  align-self:flex-start
}

.hero-description {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
  align-self: flex-start;
  text-align: start;
    width: 70%;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;

}

.btn-rockwall {
  color: #00051e;
  background-color: white;
  padding:  2rem 1rem;
  font-weight: bold;
  align-self: flex-start;
  font-family: "Anton SC", sans-serif;
  font-size: 2rem;
  border-radius: .5rem;
  cursor: pointer;
  border: 4px solid white;
}

.btn-rockwall:hover {
  color: white;
  background-color: #00051e;
}

@media (max-width: 992px) {

  .hero-right{
    margin-left: 2.5rem;
  }

  .hero-description{
    text-align: start;
    width: 90%;
  }

  .product-img {
    width: 300px;
  }

  .phrase-img {
    width: 90%;
    margin-bottom: 20px;
  }
  .btn-rockwall {
    padding: .8rem 1.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .hero-content{
    display: block;
    padding: 0 1.5rem;
  }
  .hero-right{
    margin-left: 0;
  }
  .hero-description{
    text-align:center;
    width: 100%;
  }
    .phrase-img {
    width: 100%;
    margin: 1rem 0;
  }
  .btn-rockwall {
    align-self: center;
  }
}
