.about-container{
  height: calc(100vh - 157px);
  background-image: url('/building.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: end;
  scroll-margin-top: 157px ;
}


.about-content{
  height: 100%;
  width: 40%;
  background-color:#00051eb3;
  color: white;
  padding: 4rem;
}


.about-content h2{
  font-size: 5rem;
  font-family: "Anton SC", sans-serif;
  line-height: 5.5rem;
}

.about-content p{
  font-size: 1.7rem;
  font-family: "Anton SC", sans-serif;
  line-height: 2.2rem;
  margin-top: 2rem;
}


/* Tablets (1024px and below) */
@media (max-width: 1024px) {
  .about-content{
    width: 60%;
  }
}

/* Landscape phones (768px and below) */
@media (max-width: 768px) {
  .about-content{
    width: 70%;
    padding: 3rem;
  }
  .about-content h2{
    font-size: 3.5rem;
  }

  .about-content p{
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

/* Portrait phones (480px and below) */
@media (max-width: 480px) {
  .about-content{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-content h2{
    font-size: 3rem;
  }

  .about-content p{
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
