.contact-container{
  background-image: url('/fondo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 157px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.contact-title{
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family: "Anton SC", sans-serif;
  color: var(--orange);
}

.contact-subtitle{
  display: block;
  margin: 1.5rem 0;
  font-family: "Anton SC", sans-serif;
  font-size: 2rem;

}


.contact-container p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.contact-container p:hover a {
  color: var(--orange)
}

.social-media-links{
  display: flex;
}

.social-media-links a{
  font-size: 2rem;
  margin: 0 1rem;
}

.social-media-links a:hover{
  color: var(--orange);
}


/* Tablets (1024px and below) */
@media (max-width: 1024px) {
  .contact-title{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact-subtitle{
    font-size: 1.5rem;
    margin: 1rem 0;

  }

  .contact-container p {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

/* Landscape phones (768px and below) */
@media (max-width: 768px) {
  .contact-title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .contact-subtitle{
    margin: 1.2rem 0;
    font-size: 2rem;
  }

  .contact-container p {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

/* Portrait phones (480px and below) */
@media (max-width: 480px) {
  .contact-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .contact-subtitle{
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .contact-container p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
